@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.noCell {
    background: #F2F2F2;
}

.board {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 504px;
    height: 504px;
    -webkit-transform: translate(-50%,-50%);
}

.row {
    list-style: none;
    clear: both;
}

.row li {
    float: left;
    width: 70px;
    height: 70px;
    margin: 1px;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: background;
    -webkit-transition-timing-function: ease;
}

.row .redCell {
    background: #F44;
}

.row .greenCell {
    background: #9C0;
}

.row .yellowCell {
    background: #FB3;
}

.row .blueCell {
    background: #33B5E5;
}

.row .purpleCell {
    background: #A6C;
}

.row .redCellOn {
    width: 72px;
    height: 72px;
    margin: 0;
    background: #C00;
}

.row .greenCellOn {
    width: 72px;
    height: 72px;
    margin: 0;
    background: #690;
}

.row .yellowCellOn {
    width: 72px;
    height: 72px;
    margin: 0;
    background: #F80;
}

.row .blueCellOn {
    width: 72px;
    height: 72px;
    margin: 0;
    background: #09C;
}

.row .purpleCellOn {
    width: 72px;
    height: 72px;
    margin: 0;
    background: #93C;
}

.begin {
    width: 300px;
    margin: 100px auto;
    color: #333;
    font: 20px Helvetica;
}

.begin p {
    margin-top: 40px;
}

.begin ul {
    list-style: none;
}

.begin ul li {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.begin p>ul>li:last-child {
    padding-left: 20px;
}

.resume li ul li {
    width: 15px;
    height: 15px;
}

.new li:first-child {
    width: 119px;
    height: 119px;
    background: #F44;
}

.new li:first-child:hover {
    background: #C00;
}

.new li:first-child span {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 39px 46px;
    border-top: 20px solid transparent;
    border-left: 32px solid #FFF;
    border-bottom: 20px solid transparent;
}
