@charset "utf-8";

* {
	margin:0;
	padding:0;	
}

.redCell{
	background:#ff4444;
	-webkit-transition-property:background,margin,height,width;
	-webkit-transition-duration:1s,0s,0s,0s;
	-webkit-transition-timing-function:ease;
	-webkit-transition-delay:0s;
	}
.greenCell{
	background:#99cc00;
	-webkit-transition-property:background,margin,height,width;
	-webkit-transition-duration:1s,0s,0s,0s;
	-webkit-transition-timing-function:ease;
	-webkit-transition-delay:0s;
	}
.yellowCell{
	background:#ffbb33;
	-webkit-transition-property:background,margin,height,width;
	-webkit-transition-duration:1s,0s,0s,0s;
	-webkit-transition-timing-function:ease;
	-webkit-transition-delay:0s;
	}
.blueCell{
	background:#33b5e5;
	-webkit-transition-property:background,margin,height,width;
	-webkit-transition-duration:1s,0s,0s,0s;
	-webkit-transition-timing-function:ease;
	-webkit-transition-delay:0s;
	}
.purpleCell{
	background:#aa66cc;
	-webkit-transition-property:background,margin,height,width;
	-webkit-transition-duration:1s,0s,0s,0s;
	-webkit-transition-timing-function:ease;
	-webkit-transition-delay:0s;
	}

.redCellOn{background:#cc0000;margin:0 !important;width:52px !important;height:52px !important;}
.greenCellOn{background:#669900;margin:0 !important;width:52px !important;height:52px !important;}
.yellowCellOn{background:#ff8800;margin:0 !important;width:52px !important;height:52px !important;}
.blueCellOn{background:#0099cc;margin:0 !important;width:52px !important;height:52px !important;}
.purpleCellOn{background:#9933cc;margin:0 !important;width:52px !important;height:52px !important;}

.noCell{
	background:#f2f2f2;
	-webkit-transition-property:background,margin,height,width;
	-webkit-transition-duration:1s,0s,0s,0s;
	-webkit-transition-timing-function:ease;
	-webkit-transition-delay:0s;
	}

.board {
	margin:100px auto;width:364px;
}

.row {
	clear:both;
	list-style:none;
}

.row li {
	float:left;width:50px;height:50px;margin:1px;
}


.begin{font:20px Helvetica;color:#333;margin:200px auto;width:300px;}
.begin p{margin-top: 10px}
.begin ul{list-style: none}
.begin ul li{display: inline-block;vertical-align: middle;cursor:pointer;}
.begin p>ul>li:last-child {padding-left:20px}

.resume li ul li {width:10px !important;height:10px !important;}

.new li:first-child {background:#ff4444;width:84px;height:84px;}
.new li:first-child:hover {background:#cc0000;}

.new li:first-child span {width:0;height:0;margin:27px 30px;border-top: 15px solid transparent;border-left: 24px solid #fff;border-bottom: 15px solid transparent;display: inline-block;}
