@charset "utf-8";

* {
	margin:0;
	padding:0;	
}

.redCell{background:#ff4444}
.greenCell{background:#99cc00}
.yellowCell{background:#ffbb33}
.blueCell{background:#33b5e5}
.purpleCell{background:#aa66cc}

.redCellOn{background:#cc0000;margin:0 !important;width:52px !important;height:52px !important;}
.greenCellOn{background:#669900;margin:0 !important;width:52px !important;height:52px !important;}
.yellowCellOn{background:#ff8800;margin:0 !important;width:52px !important;height:52px !important;}
.blueCellOn{background:#0099cc;margin:0 !important;width:52px !important;height:52px !important;}
.purpleCellOn{background:#9933cc;margin:0 !important;width:52px !important;height:52px !important;}

.noCell{background:#f2f2f2;}


.board {
	margin:100px auto;width:370px;
}

.row {
	clear:both;
	list-style:none;
}

.row li {
	float:left;width:50px;height:50px;margin:1px;
}



